
IndyPOS/bin/
IndyPOS/obj/
IndyPOS.DataServices/bin/
IndyPOS.DataServices/obj/
IndyPOS.EventAggregator/bin/
IndyPOS.EventAggregator/obj/
packages/
.vs/
.vs/IndyPOS/v15/.suo
.vs/IndyPOS/v15/Server/sqlite3/storage.ide
.vs/IndyPOS/v15/Server/sqlite3/storage.ide-shm
.vs/IndyPOS/v15/Server/sqlite3/storage.ide-wal
