
IndyPOS/bin/
IndyPOS/obj/
IndyPOS.DataAccess/bin/
IndyPOS.DataAccess/obj/
packages/
.vs/
.vs/IndyPOS/v15/.suo
.vs/IndyPOS/v15/Server/sqlite3/storage.ide
.vs/IndyPOS/v15/Server/sqlite3/storage.ide-shm
.vs/IndyPOS/v15/Server/sqlite3/storage.ide-wal

ModernUI/obj/
ModernUI/bin/

_NCrunch_IndyPOS/

*.ncrunchsolution

IndyPOS.v3.ncrunchsolution.user

IndyPOS.Tests/bin/

IndyPOS.Tests/obj/

IndyPOS.sln.DotSettings.user

Releases/

IndyPOS/IndyPOS.csproj.user

*.nupkg

IndyPOS.Mqtt/bin/

IndyPOS.Mqtt/obj/

IndyPOS.Facade/bin/

IndyPOS.Facade/obj/

IndyPOS.Common/bin/

IndyPOS.Common/obj/

IndyPOS.Mock/bin/

IndyPOS.Mock/obj/

IndyPOS.Facade.Tests/bin/

IndyPOS.Facade.Tests/obj/
